<h2>TDF - Sign In Form</h2>
<form #frmSignIn="ngForm" (ngSubmit)="sendValues(frmSignIn)">
  <label>Enter Email<span style="color: red">*</span> </label
  ><input
    type="text"
    #uemail="ngModel"
    name="txtEmail"
    ngModel
    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}$"
    required
  /><br />
  <span
    *ngIf="(uemail.touched )&&(frmSignIn.controls['txtEmail']?.errors?.['required'])"
    style="color: red"
    >Email is Mandatory</span
  ><br />
  <span
    *ngIf="((uemail.touched)&&(frmSignIn.controls['txtEmail']?.errors?.['pattern']))"
    style="color: red"
    >Email is not in the right format</span
  ><br />
  <label>Enter Password<span style="color: red">*</span> </label
  ><input
    type="password"
    #upassword="ngModel"
    name="txtPassword"
    ngModel
    required
  /><br />
  <span *ngIf="upassword.invalid && upassword.touched" style="color: red"
    >Password is Mandatory</span
  ><br />
  <input type="submit" [disabled]="frmSignIn.invalid" />
</form>
